/.installed.cfg
# according to http://web.archive.org/web/20120629000805/http://devnet.jetbrains.net/docs/DOC-1186
/.idea/dictionaries
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/libraries/Buildout_Eggs.xml
/.idea/backend.iml
/.idea/misc.xml
/.idea/libraries/Buildout_Eggs*.xml
/.idea/runConfigurations/*.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/.idea/
/bin
/parts
/develop-eggs
/var
/etc
/node_modules
/eggs
/.idea
/node
/downloads
